<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agma</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
</head>
<body>
    <i class="material-icons" id="menu">menu</i>
    <a href="home.html" target="_self"><i class="material-icons" id="home">home</i></a>
    <div class="form">
        <div class="chemical">
            <form id="chemfactor">
                <br/><br/><br/>
                <label for="potassium">Nitrogen :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" id="nitrogen"/><br/><br/><br/>
                <label for="phosphorus">Phosphorus :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" id="phosphorus"/><br/><br/><br/>
                <label for="potassium">Potassium :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" id="potassium"/><br/><br/><br/>
                <label for="ph">pH value :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" id="ph"/><br/><br/><br/>
            </form>        
        </div>
        <div class="geo">    
            <form id="chemfactor">
                <br/><br/><br/>
                <label for="potassium">Nitrogen :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" id="nitrogen"/><br/><br/><br/>
                <label for="phosphorus">Phosphorus :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" id="phosphorus"/><br/><br/><br/>
                <label for="potassium">Potassium :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" id="potassium"/><br/><br/><br/>
                <label for="ph">pH value :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" id="ph"/><br/><br/><br/>
            </form>  
        </div>
    </div>
    <button class="submit" type="button">SUBMIT</button>
    
    
    
</body>
</html>