<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agma</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="home.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">    
</head>
<body>
    <i class="material-icons">menu</i>
    <div class="content">
        <img src="Vector.png"/>
        <h1>Agma</h1>
        <a href="form.html" target="_self"><button class="next" type="button">START</button></a>
    </div>
</body>
</html>