body{
    background-color: #9DF3C4;
}
a{
    text-decoration: none;
}
.material-icons#menu{
    font-size: 60px;
    margin-left: 30px;
    margin-top: 20px;
    display: block;
    position: absolute;
    color: #1FAB89;
    cursor: pointer;
    
}
.material-icons#home{
    font-size: 60px;
    position: absolute;
    left: 48.75%;
    top: 34px;
    display: block;
    position: absolute;
    color: #1FAB89;
    cursor: pointer;

}
.material-icons#menu:hover{
    font-size: 70px;
    transition: 300ms ease-in;
    margin-left: 30px;
    margin-top: 20px;
    display: block;
    position: absolute;
    color: #1FAB89;
    cursor: pointer;
}

.head{
    display: flex;
}
form.form{
    justify-content: space-between;   
    display: flex; 
}

.chemical{
    align-items: center;
    position: relative;
    width: 496px;
    height: 406px;
    margin-top: 130px;
    margin-left: 110px;
    background: #62D2A2;
    border: 5px solid #1FAB89;
    box-sizing: border-box;
    border-radius: 30px;
}

.geo{
    position: relative;
    width: 496px;
    height: 406px;
    left: 20px;
    margin-top: 130px;
    background: #62D2A2;
    border: 4px solid #1FAB89;
    box-sizing: border-box;
    border-radius: 30px;
}

.submit{
    position: absolute;
    width: 156px;
    height: 52px;
    left: 45%;
    bottom:  30px;
    background: #1FAB89;
    border-radius: 25px;
    border: none;
    color: #9DF3C4;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

#factor{
    justify-content: space-between;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
label{
    font-weight: bold;
    color: white;
}

input{
    background-color: #1FAB89;
    border-radius: 10%;
    height: 30px;
    border-style: none;
}